body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}
.addPageBody{
    background-color: black;
}
.header{
    color: white;
    font-family: Array-SemiboldWide;
    font-size: 70px;
    margin-top: 20px;
}
.Planning{
    color: rgb(102, 255, 102);
}
#ProjectOverview{
    display: flex;
    flex-direction: row;  
    
}
.Projects{
    width: 320px;
    height: 200px;
    border: white 5px solid;
    border-radius: 3px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(27, 27, 27);
    transition: transform 0.2s ease;
}
.ProjectTitle{
    font-family: 'JetBrains Mono', 'Fira Code', 'SF Mono', 'Menlo', 'Consolas', monospace;
    font-size: 30px;
    color: #E06C75;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
}
.let{
    color: #C678DD;
}
.equal{
    color: #56B6C2;
}
.add{
    color: rgb(102, 255, 102);
}
.StatusDot{
    margin: 10px;
    width: 10px;
    height: 10px;
    border: rgb(8, 161, 8) 5px solid;
    border-radius: 50%;
    background-color: rgb(8, 161, 8);
    position: absolute;
    top: 0;
    right: 0
}
.projectDescription{
    color: #98C379;
    font-family: 'JetBrains Mono', 'Fira Code', 'SF Mono', 'Menlo', 'Consolas', monospace;
    margin: 0;
    width: 250px;
    margin-left: 10px;
}
.dueDate{
    color: #7F848E;
    font-family: 'JetBrains Mono', 'Fira Code', 'SF Mono', 'Menlo', 'Consolas', monospace;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    margin-bottom: 0;
}
.addProjectCard{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: white 5px solid;
    border-radius: 3px;
    background-color: rgb(27, 27, 27)
}
.label{
    font-family: 'JetBrains Mono', 'Fira Code', 'SF Mono', 'Menlo', 'Consolas', monospace;
    font-size: 30px;
    font-weight: bold;
    color: #E06C75;
    margin: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.input{
    border-radius: 15px;
    height: 50px;
    width: 350px;
    background-color: black;
    color:  #98C379;
    margin-left: 50px;
    outline: none;
    font-family: 'JetBrains Mono', 'Fira Code', 'SF Mono', 'Menlo', 'Consolas', monospace;
    font-size: 30px;
}
@font-face {
  font-family: 'Archivo-Bold';
  src: url('Fonts/WEB/fonts/Archivo-Bold.woff2') format('woff2'),
       url('Fonts/WEB/fonts/Archivo-Bold.woff') format('woff'),
       url('Fonts/WEB/fonts/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Array-SemiboldWide';
  src: url('Fonts/WEB/fonts/Array-SemiboldWide.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@media (max-width: 600px){
    #ProjectOverview{
    display: flex;
    flex-direction: column; 
}
    .header{
        font-size: 50px;
        margin-bottom: 0;
    }
    .ProjectTitle{
        font-size: 25px;
    }
}
.Projects:hover{
    transform: scale(1.1);
}